
body{
    background-color:#fcde67;
    font-family:fantasy;
    color: #030e12;
}

.rounds{
    text-align: center;
    font-size: 20px;
}
.heading {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #5bccf6;
    border-radius: 25px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.khaled{
    font-size: 25px;
    align-self: flex-end;
}

h1, p{
    padding: 25px;
    background-color: #5bccf6;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
}

.mainAction, .selection{
    display: flex;
    text-align: center;
    font-size: 15px;
    justify-content: space-evenly;
    padding: 5px;
    align-items: center;

}
button{
    width: fit-content;
    height: fit-content;
    background-color: #5bccf6;
}

img{
    height: auto;
    width: 300px;
}

.result{
    text-align: center;
    font-size: 20px;
}